link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/bootstrap.min.css')

script(src='/js/libs/jquery.min.js')
script(src='/js/libs/bootstrap.min.js')
script(src='/js/libs/angular-1.3.8.min.js')
script(src='/js/libs/soundmanager2-nodebug-jsmin.js')
script(src='/js/libs/sGlide-1.10.0.min.js')
script(src='/js/player.js')
script(src='/js/index.js')

