doctype html
html
  head
    title Unhypem
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='http://connect.soundcloud.com/sdk.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/soundmanager2-jsmin.js')
    script(src='/javascripts/player.js')
  body
    block content