<div class="container">
    <table class="table table-hover">
        <thead>
        <tr class="white">
            <th></th>
            <th></th>
            <th>Artist</th>
            <th>Title</th>
            <th>Love</th>
        </tr>
        </thead>
        <tbody>
        <tr class="white" ng-repeat="song in popularSongsList" ng-click="songCtrl.setSelectedPosition($index)" ng-class="{info: songCtrl.isSelected($index)}">
            <td class="vertical-center">{{entry.position}}</td>
            <td class="vertical-center">
                <a href="{{song.soundcloudUrl}}" ng-class="{'no-soundcloud-url': !songCtrl.hasSoundcloudUrl(song.soundcloudUrl)}" target="_blank" ><img src="../../../assets/img/soundcloud-icon-32.png"></a>
            </td>
            <td class="vertical-center">{{song.artist}}</td>
            <td class="vertical-center">{{song.title}}</td>
            <td class="vertical-center">{{song.hypemLovedCount}}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">Last update {{date}}</div>
</div>