<div class="container">
    <table class="table table-hover">
        <thead>
        <tr class="white">
            <th></th>
            <th class="hidden-xs"></th>
            <th>Artist</th>
            <th>Title</th>
            <th class="hidden-xs">Love</th>
        </tr>
        </thead>
        <tbody>
        <tr class="white" ng-repeat="(i, song) in songs" ng-click="onClickSelectPosition(i, $event)" ng-class="{'info': isSelected(i), 'warning': !hasStreamUrl(song)}">
            <td class="vertical-center text-center">{{i+1}}</td>
            <td class="vertical-center hidden-xs">
                <a ng-href="{{song.soundcloudUrl}}" ng-class="{'no-soundcloud-url': !hasSoundcloudUrl(song.soundcloudUrl)}" class="soundcloud-logo" target="_blank" ></a>
            </td>
            <td class="vertical-center">{{song.artist}}</td>
            <td class="vertical-center"><strong>{{song.title}}</strong></td>
            <td class="vertical-center hidden-xs">{{song.hypemLovedCount}}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center" title="{{dateTime}}">Last updated {{dateMessage}}</div>
</div>