<div>
    <div class="container">
        <div class="player-flex-wrapper">
            <div class="player-info hidden-xs">
                <strong class="title" ng-bind="currentSong.title"></strong>
                <span class="artist" ng-bind="currentSong.artist"></span>
                <div class="volumebar-container">
                    <div class="volumebar-icon-minus"></div>
                    <progressbar id="volumebar" class="volumebar" value="volumeInPercent" ng-click="onVolumebarClick($event)"></progressbar>
                    <div class="volumebar-icon-plus"></div>
                </div>
            </div>
            <div class="player-control">
                <button type="button" class="btn button button-rewind" ng-click="rewind()">
                    <span class="hidden">Rewind</span>
                </button>
                <button type="button" class="btn button button-play" ng-class="{'button-play': !isPlaying, 'button-stop': isPlaying}" ng-click="play()">
                    <span class="hide">Play</span>
                </button>
            </div>
            <div class="player-progressbar">
                <progressbar id="progressbar" class="progress-striped active player-soundcloud-wave" value="progressInPercent" max="100" type="info" ng-click="onProgressbarClick($event)"></progressbar>
            </div>
            <div class="player-control">
                <button type="button" class="btn button button-forward" ng-click="forward()">
                    <span class="hidden">Forward</span>
                </button>
            </div>
            <div class="player-secondary">
                <div class="duration">
                    <span ng-bind="progress"></span>
                    <span> / </span>
                    <span ng-bind="duration"></span>
                </div>
            </div>
        </div>
    </div>
</div>