<div>
    <div class="container">
        <div class="player-flex-wrapper">
            <div class="player-info">
                <strong class="title" ng-bind="currentSong.title"></strong>
                <span class="artist" ng-bind="currentSong.artist"></span>
                <div class="duration">
                    <span ng-bind="progress"></span>
                    <span ng-bind="duration"></span>
                </div>
            </div>
            <div class="player-main">
                <img src="../../../assets/img/rewind-icon-32.png">
                <img src="../../../assets/img/play-icon-32.png" ng-click="play()">
                <progressbar id="progressbar" class="progress-striped active player-soundcloud-wave" value="progressInPercent" max="100" type="info" ng-click="onProgressbarClick($event)"></progressbar>
                <img src="../../../assets/img/forward-icon-32.png">
            </div>
            <div class="player-secondary">
                Share
            </div>
        </div>
    </div>
</div>