.icon-btn {
    background: no-repeat center;
    background-size: contain;
    background-origin: border-box;
    padding: 0;
    margin: 0;
    border: 0 none;
}

.icon-btn:hover {
    opacity: 1;
}

.icon-btn:focus {
    outline: 0;
}

.icon-btn-play,
.icon-btn-play:active {
    height: 80px;
    width: 48px;
    padding: 0; /* play icon itself has lots of padding */
    background-image: url("../img/ic_play_circle_filled_black_24px.svg");
}

.icon-btn-pause,
.icon-btn-pause:active {
    height: 80px;
    width: 48px;
    padding: 0; /* play icon itself has lots of padding */
    background-image: url("../img/ic_pause_circle_filled_black_24px.svg");
}

.icon-btn-forward,
.icon-btn-forward:active {
    height: 80px;
    width: 24px;
    background-image: url("../img/ic_skip_next_black_24px.svg");
}

.icon-btn-rewind,
.icon-btn-rewind:active {
    height: 80px;
    width: 24px;
    background-image: url("../img/ic_skip_previous_black_24px.svg");
}

.icon-btn-shuffle,
.icon-btn-shuffle:active {
    height: 80px;
    width: 24px;
    background-image: url("../img/ic_shuffle_black_24px.svg");
}

.icon-btn-repeat,
.icon-btn-repeat:active {
    height: 80px;
    width: 24px;
    background-image: url("../img/ic_repeat_one_black_24px.svg");
}

.icon-btn-share,
.icon-btn-share:active {
    height: 80px;
    width: 24px;
    background-image: url("../img/ic_share_black_24px.svg");
}

.icon-btn-volume,
.icon-btn-volume:active {
    height: 80px;
    width: 24px;
    background-image: url("../img/ic_volume_down_black_24px.svg");
}