.button {
    background-size: contain;
    background: no-repeat center;
    opacity: 0.85;
}

.button:hover {
    opacity: 1;
}

.button:focus {
    outline: 0;
}

.button-play,
.button-play:active {
    width: 50px;
    height: 80px;
    background-size: 50px 50px;
    background-image: url("../img/ic_play_arrow_black_24px.svg");
}

.button-pause,
.button-pause:active {
    background-image: url("../img/ic_pause_black_24px.svg");
}

.button-forward,
.button-forward:active {
    width: 30px;
    height: 80px;
    background-size: 30px 30px;
    background-image: url("../img/ic_fast_forward_black_24px.svg");
}

.button-rewind,
.button-rewind:active {
    width: 30px;
    height: 80px;
    background-size: 30px 30px;
    background-image: url("../img/ic_fast_rewind_black_24px.svg");
}

.button-shuffle,
.button-shuffle:active {
    width: 30px;
    height: 80px;
    background-size: 30px 30px;
    background-image: url("../img/ic_shuffle_black_24px.svg");
}

.button-repeat,
.button-repeat:active {
    width: 30px;
    height: 80px;
    background-size: 30px 30px;
    background-image: url("../img/ic_repeat_one_black_24px.svg");
}

.button-share,
.button-share:active {
    width: 30px;
    height: 80px;
    background-size: 30px 30px;
    background-image: url("../img/ic_share_black_24px.svg");
}