.button {
  background-size: contain;
  background: no-repeat center;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
}

.button:focus {
  outline: 0;
}

.button-play {
  background-image: url("../img/play-icon-32.png");
}

.button-play:active {
  .button-play;
}

.button-stop {
  background-image: url("../img/pause-icon-32.png");
}

.button-stop:active {
  .button-stop;
}

.button-forward {
  background-image: url("../img/forward-icon-32.png");
}

.button-forward:active {
  .button-forward;
}

.button-rewind {
  background-image: url("../img/rewind-icon-32.png");
}

.button-rewind:active {
  .button-rewind;
}