.player-flex-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
}

.player-info {
  flex: 2 2 100px;
  white-space: nowrap;
  overflow: hidden;
}

.player-info > * {
  display: block;
  line-height: 1.5em;
}

.volumebar-container {
  margin-top: 10px;
  line-height: 16px;
}

.volumebar-container > * {
  display: inline-block;
  vertical-align: middle;
}

.volumebar-icon-plus {
  background-image: url("../img/volume-plus-icon-16.png");
  width: 16px;
  height: 16px;
}

.volumebar {
  width: 75px;
  height: 18px;
  margin: 0 5px;
}

.volumebar-icon-minus {
  background-image: url("../img/volume-minus-icon-16.png");
  width: 16px;
  height: 16px;
}

.player-control {
  flex: 0 0 90px;
  padding: 0 10px;
  line-height: 80px;
}

.player-progressbar {
  flex: 3 3 250px;
  height: 80px;
  line-height: 80px;
}

.player-progressbar > * {
  display: inline-block;
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

.player-secondary {
  flex: 0 0 100px;
}