.player-panel {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
    color: #000;
}

.player-panel-col-btn {
    padding-right: 10px;
    line-height: 80px;
}

.player-panel-col-song-position {
    line-height: 80px;
    width: 52px;
    padding-right: 20px;
    font-size: 28px;
    text-align: center;
}

.player-panel-col-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 20px;
}

.player-panel-col-btn-play {
    line-height: 80px;
    padding-right: 0;
}

.player-panel-col-waveform {
    position: relative;
    flex: 3 3 250px;
    margin-left: 10px;
    margin-right: 5px;
}

.player-waveform {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80px;
    position: absolute;
    width: 100%;
    filter: brightness(0) invert(0.965); /* invert property is set that the calculation results in the background color */
    -webkit-filter: brightness(0) invert(0.965);
}

.player-progressbar {
    height: 80px;
    line-height: 80px;
    background-color: #A7B8D1;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.player-progressbar > div {
    background-color: #0070D2;
}

.player-progressbar-progress {
    width: 0;
    height: 100%;
    transition: .4s width;
}

.volume-popup {
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 100px;
    margin-bottom: 25px;
    border: 1px solid #000000;
    background-color: #0070D2;
}

.volume-popup-progress-negative {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: 200ms height;
    -moz-transition: 200ms height;
    -o-transition: 200ms height;
    -ms-transition: 200ms height;
    transition: 200ms height;
}