.player-flex-wrapper {
  width: 100%;
  min-width: 400px;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
}

.player-info {
  flex: 2 2 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
}

.player-control {
  flex: 0 0 100px;
  padding: 0 10px;
  line-height: 80px;
}

.player-progressbar {
  flex: 3 3 250px;
  height: 80px;
  line-height: 80px;
}

.player-progressbar > * {
  display: inline-block;
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

.player-secondary {
  flex: 1 1 100px;
}