@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

body {
  margin: 0;
  font-family: 'OpenSans', sans-serif !important;
  padding-bottom: 105px;
}

@font-family-sans-serif: 'OpenSans';
@font-family-base: @font-family-sans-serif;

#welcome-header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-soundcloud-url {
  opacity: 0.2;
}

.bottom {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;

  -webkit-box-shadow: 0px -1px 3px 0 rgba(0,0,0,0.8);
  -moz-box-shadow: 0px -1px 3px 0 rgba(0,0,0,0.8);
  box-shadow: 0px -1px 3px 0  rgba(0,0,0,0.8);
}

.table tbody > tr > td.vertical-center {
  vertical-align: middle;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.horizontal-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// angular-ui workaround
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }