body {
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  padding-bottom: 105px;
}
@font-family-sans-serif: 'Raleway';
@font-family-base: @font-family-sans-serif;

#welcome-header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.white {
  background-color: #ffffff;
}

.no-soundcloud-url {
  opacity: 0.2;
}

.icon_size32 {
  height: 32px;
  width: 32px;
}

.bottom {
  border-top: 1px solid darkgray;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url("../img/brushed.png"); //evt. nur bei der playerbar background machen
  background-repeat: repeat;
}

.player-container {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 15px; //inline list adds 10px to top
}

.player-container-left {
  width: 125px;
  min-width: 125px;
  height: 32px;
  padding: 0;
  margin: 0;
}

.player-container-right {
  height: 32px;
}

.slider_bar {
  background-color: #ffffff;
}

.follow_bar {
  background-color: #369;
}

.margin_padding_reset {
  margin: 0px;
  padding: 0px;
}

.table tbody > tr > td.vertical-center {
  vertical-align: middle;
}

.horizontal-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// angular-ui workaround
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }